#aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#aboutContainer img {
  max-height: 45vh;
  margin-bottom: 2vw;
}

#aboutTitle {
  font-size: 4vw;
}

#aboutPara {
  font-size: 1vw;
  text-align: center;
  max-width: 35vw;
}

@media only screen and (max-width: 600px) {

  #aboutContainer img {
    max-height: 35vh;
    margin-bottom: 2vw;
  }
  
  #aboutTitle {
    font-size: 6vw;
  }
  
  #aboutPara {
    font-size: 3vw;
    text-align: center;
    max-width: 50vw;
  }





}