body {
  margin: 0;
}

.detailHolder {
  width: 100vw;
  display: flex;
  flex-direction: row;
  /* border-bottom: solid #ddd 0.25vw; */
  /* border-top: solid #ddd 0.25vw; */
}

.detailLeft {
  width: 30vw;
  /* background: cyan; */
  position: relative;
  /* border-right: solid #ddd 0.25vw; */
}

.detailLeftSticky {
  position: sticky;
  width: 100%;
  top: 0;
  padding: 2.5vw;
  padding-top: 2vw;
}

.detailLeftSticky h1 {
  margin: 0;
  width: 25vw;
  font-size: 2.2vw;
}

.detailLeftSticky p {
  margin: 0;
  width: 25vw;
  font-size: 1.2vw;
}

.detailRight {
  width: 70vw;
  /* background: darkblue; */
  padding: 0 2vw;
  padding-bottom: 2vw;
  display: flex;
  flex-direction: column;
  /* border-left: solid #ddd 0.25vw; */
}

.detailTitle {
  font-size: 2.2vw;
  margin: 1vw 0;
}

.detailImage {
  width: 68vw;
  /* background: darkcyan; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vw 0;
  flex-direction: column;
}

.detailImage img {
  max-height: 80vh;
  max-width: 68vw;
  width: auto;
}

.detailImageCap {
  max-width: 68vw;
  width: inherit;
  margin: 0;
}

.detailSub {
  font-size: 1.25vw;
  margin: 1vw 0;
}

.detailText {
  font-size: 0.8vw;
  margin: 1vw 0;
}

.detailLink {
  font-size: 0.8vw;
  text-decoration: none;
  color: #7385e0;
  font-style: italic;
}

.detailBibliography {
  font-size: 0.8vw;
}

.bibliTitle {
  margin-bottom: 0;
}

.bibliText {
  margin: 0;
}

.bibliURL {
  font-size: 0.8vw;
  text-decoration: none;
  color: #7385e0;
  font-style: italic;
}

.imageGridContainer {
  width: 68vw;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 1vw 0;
  flex-direction: row;
  flex-wrap: wrap;
}

.imageGridItem {
  width: 31vw;
  margin: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageGridIMG {
  max-width: 31vw;
  max-height: 40vh;
}

.imageGridCap {
  max-width: 68vw;
  width: inherit;
  margin: 0;
  justify-self: left;
}

@media only screen and (max-width: 600px) {

  .detailHolder {
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* border-bottom: solid #ddd 0.25vw; */
    /* border-top: solid #ddd 0.25vw; */
  }
  
  .detailLeft {
    width: 100vw;
    /* background: cyan; */
    position: relative;
    /* border-right: solid #ddd 0.25vw; */
  }
  
  .detailLeftSticky {
    position: sticky;
    width: 100%;
    top: 0;
    padding: 2.5vw;
    padding-top: 2vw;
  }
  
  .detailLeftSticky h1 {
    margin: 0;
    width: 90vw;
    font-size: 8vw;
  }
  
  .detailLeftSticky p {
    margin: 0;
    width: 50vw;
    font-size: 3.5vw;
  }
  
  .detailRight {
    width: 100vw;
    /* background: darkblue; */
    padding: 0 2vw;
    padding-bottom: 2vw;
    display: flex;
    flex-direction: column;
    /* border-left: solid #ddd 0.25vw; */
  }
  
  .detailTitle {
    font-size: 5vw;
    margin: 1vw 0;
  }
  
  .detailImage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vw 0;
  }
  
  .detailImage img {
    max-height: 70vh;
    max-width: 98vw;
    width: auto;
  }
  
  .detailSub {
    font-size: 3vw;
    margin: 1vw 0;
  }
  
  .detailText {
    font-size: 2.5vw;
    margin: 1vw 0;
  }
  
  .detailLink {
    font-size: 2.5vw;
    text-decoration: none;
    color: #7385e0;
    font-style: italic;
  }





}