@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.gItemsContainer {
  max-width: 100vw;
  width: 100vw;
  height: max-content;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  /* grid-template-rows: 18.4vw 18.4vw 18.4vw 18.4vw 18.4vw; */
  /* grid-auto-columns: 20%; */
  grid-auto-rows: 18.4vw;
  grid-auto-flow: dense;
  /* border-right: solid #ddd 0.25vw; */
  /* border-left: solid #ddd 0.25vw; */
}

.span-h-2 {
  grid-column-end: span 2;
}

.span-v-2 {
  grid-row-end: span 2;
}

.gItemHolder {
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-decoration: none;
  transition: 0.5s ease-in-out;
  /* border: solid #ddd 0.25vw; */
}

.gItemHolder:hover .gItemFader {
  opacity: 0.4;
}

.gItemHolder:hover .gItemDetailsHolder {
  opacity: 1;
}

.gItemFader {
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
}

.gItemDetailsHolder {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  color: white;
  z-index: 10;
}

.gItemDetailsHolder h1 {
  margin: 0;
  font-size: 2vw;
  z-index: 10;
  max-width: 70%;
  text-align: center;
}

.gItemDetailsHolder p {
  margin: 0;
  font-size: 1vw;
  z-index: 10;
  max-width: 70%;
  text-align: center;
}


.listViewContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.listViewHolder {
  width: 100vw;
  padding: 2vw;
  /* border: 0.1vw solid white; */
}

.textHider {
  height: fit-content;
  overflow: hidden;
  position: relative;
}

.listViewContainer h1 {
  margin: 0;
  transition: 0.5s ease-in-out;
}

.listItem {
  font-family: 'Playfair Display', serif;
  font-size: 4vw;
}

#galleryCont {
  position: relative;
}

#viewSwitchBTN {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 3vw;
  height: 3vw;
  padding: 0;
  border: none;
  transition: all 0.25s;
  opacity: 0.3;
}

#viewSwitchBTN:hover {
  width: 5vw;
  height: 5vw;
  opacity: 1;
}

.st0{fill:grey}
.st1{fill:none;stroke:grey;stroke-width:40;stroke-miterlimit:10}

#ListIcon {
  display: none;
}

/*  */
/* MOBILE */
/*  */

@media only screen and (max-width: 600px) {

  .gItemsContainer {
    grid-template-columns: 50% 50%;
    grid-auto-rows: 50vw;
  }

  .gItemDetailsHolder h1 {
    font-size: 5vw;
  }
  
  .gItemDetailsHolder p {
    font-size: 3vw;
  }

  .gItemHolder:hover .gItemFader {
    opacity: 0;
  }
  
  .gItemHolder:hover .gItemDetailsHolder {
    opacity: 0;
  }


}