.headerContainer {
  width: 100vw;
  height: 10vh;
  /* background: violet; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: solid #ddd 0.25vw; */
}


.headerTitle {
  font-size: 1.75vw;
  margin-left: 2vw;
}

.headerBTNHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.headerBTN {
  font-size: 1vw;
  margin-right: 2vw;
  text-decoration: none;
}

.switchHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#lightSwitch {
  /* background-color: orange; */
  width: 1.25vw;
  height: 1.25vw;
  border-radius: 1vw;
  /* border: solid 0.15vw black; */
  margin-right: 2vw;
  cursor: pointer;
}