.headerContainer {
  width: 100vw;
  height: 8vh;
  /* background: violet; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: solid #ddd 0.25vw; */
}


.headerTitle {
  font-size: 1.25vw;
  margin-left: 2vw;
  text-decoration: none;
  font-weight: bold;
}

.headerBTNHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.headerBTN {
  font-size: 0.8vw;
  margin-right: 2vw;
  text-decoration: none;
}

.switchHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#lightSwitch {
  /* background-color: orange; */
  width: 1vw;
  height: 1vw;
  border-radius: 1vw;
  /* border: solid 0.15vw black; */
  margin-right: 2vw;
  cursor: pointer;
}

.mobileMenuBTN {
  display: none;
}

/*        */
/* MOBILE */
/*        */

@media only screen and (max-width: 600px) {

  .headerContainer {
    position: sticky;
    top: 0;
    height: 8vh;
    z-index: 100;
  }

  .headerTitle {
    font-size: 4vw;
  }

  .mobileMenuBTN {
    display: block;
    width: 8vw;
    height: 8vw;
    z-index: 1001;
    position: fixed;
    right: 3vw;
    top: calc(4vh - 4vw);
  }

  .headerBTNHolder {
    flex-direction: column;
    height: 60vh;
    /* margin-bottom: 10vh; */
    margin-top: 20vh;
  }
  
  .headerBTN {
    font-size: 8vw;
    font-weight: 600;
  }
  
  #lightSwitch {
    width: 10vw;
    height: 10vw;
    border-radius: 15vw;
    /* margin-top: -10vw; */
  }
  
  .switchHolder {
    z-index: 1000;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: -100vw;
    padding-bottom: 20vh;
  }
  
  #mobileMenu {
    transition: right 0.5s ease-in-out, background-color 0.5s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fillTransition {
    transition: fill 0.5s;
    fill: var(--text);
  }

}