body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.gItemsContainer {
  max-width: 100vw;
  width: 100vw;
  height: max-content;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  /* grid-template-rows: 18.4vw 18.4vw 18.4vw 18.4vw 18.4vw; */
  /* grid-auto-columns: 20%; */
  grid-auto-rows: 18.4vw;
  grid-auto-flow: dense;
  border-right: solid #ddd 0.25vw;
  border-left: solid #ddd 0.25vw;
}

.span-h-2 {
  grid-column-end: span 2;
}

.span-v-2 {
  grid-row-end: span 2;
}

.gItemHolder {
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: solid #ddd 0.25vw;
}

.gItemHolder:hover .gItemFader {
  opacity: 0.4;
}

.gItemHolder:hover .gItemDetailsHolder {
  opacity: 1;
}

.gItemFader {
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
}

.gItemDetailsHolder {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  color: white;
  z-index: 10;
}

.gItemDetailsHolder h1 {
  margin: 0;
  font-size: 2vw;
  z-index: 10;
}

.gItemDetailsHolder p {
  margin: 0;
  font-size: 1vw;
  z-index: 10;
}