/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* General rules */

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

/* Specific CSS Rules */

body {
    background-color: #2f3640;
    color: #dcdde1;
}

#siteContainer {
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}


#mainContainer {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#leftContainer {
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#topBarContainer {
    width: 30vw;
    height: 10vh;
    padding: 1vw;
}

#topBarContainer h1 {
    font-size: 1.5vw;
    font-weight: 400;
    margin: 0;
}

#informationContainer {
    width: 40vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#informationContainer #workTitle {
    font-weight: 500;
    font-size: 5vw;
    margin: 0;
    margin-left: 1vw;
}

#informationContainer #workSubTitle {
    font-weight: 300;
    font-size: 1.75vw;
    margin: 0;
    margin-left: 1vw;
    margin-top: -3vh;
}

#lowerInformationContainer {
    width: 40vw;
    height: 20vh;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#lowerInformationContainer h1 {
    margin: 0;
    font-weight: 400;
}

#lowerInformationContainer p {
    margin: 0;
    font-weight: 200;
}

#lowerInformationContainer span {
    position: absolute;
    bottom: 0.5vh;
    font-size: 0.9vw;
}

#projectSideBarContainer {
    width: 10vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#unitListHolder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    font-size: 0.6vw;
    margin-top: 2vw;
}

#unitListHolder h1 { 
    font-weight: 300;
    margin-right: 1vw;
    cursor: pointer;
}

.selected {
    color: white;
}

.deselected {
    color: #666666;
}

#controlsContainer {
    /* background-color: darkgoldenrod; */
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#controlsHolder {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}

#pageNo {
    font-weight: 300;
}

#controls div {
    width: 3vw;
    height: 3vw;
    /* background-color: darkgreen; */
}

#controlLeft {
    background-image: url("/images/controlLeft.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#controlDevider {
    background-image: url("/images/controlDevider.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#controlRight {
    background-image: url("/images/controlRight.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#projectContainer {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#currentProject {
    width: 40vw;
    background-color: darkred;
    background-image: url("");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#nextProject {
    width: 10vw;
    background-color: blue;
    background-image: url("");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
