/* Fonts */

    /* Poppins */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

    /* Playfair Display */
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');


/* Colours */

    /* Dark Mode */
        /* Background: #262626 */
        /* Text: #D9D9D9 */

    /* Light Mode */
        /* Background: #D9D9D9 */
        /* Text: #262626 */

    .bg {
        background-color: #262626;
    }

    .text {
        color: #D9D9D9;
    }

    .bgInverted {
        background-color: #D9D9D9;
    }

    .textInverted {
        color: #262626;
    }


/* General rules */

    body {
        padding: 0;
        margin: 0;
        font-family: 'Poppins', sans-serif;
        background-color: #262626;
        color: #D9D9D9;
    }

    * {
        box-sizing: border-box;
    }


/* Site Container */

#siteContainer {
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}


/* Left Container Detail */

#leftContainer {
    width: 35vw;
    height: 100vh;
    padding: 0 2.5vw;
    background-color: blue;
}

    #name {
        font-weight: 600;
        font-size: 1.5vw;
        margin-top: 1vw;
        margin-left: -1.5vw;
    }

        /* Detail Text */

            #detailTextHolder {
                width: 10vw;
                float: right;
            }

            .detailText {
                margin: 0;
                font-weight: 500;
                text-align: right;
                font-size: 1vw;
            }


        /* Module Detail */

            #moduleDetailHolder {
                position: absolute;
                top: 30vh;
                width: 30vw;
            }

            #moduleName {
                font-family: 'Playfair Display', serif;
                margin: 0;
                font-size: 4vw;
                max-width: 30vw;
            }

            #moduleDate {
                font-family: 'Playfair Display', serif;
                font-size: 1.5vw;
                margin: -1vw 0;
            }

            #moduleBrief {
                font-size: 1.1vw;
                max-height: 50vh;
                margin-top: 3vw;
                overflow: hidden;
            }

    #copyrightText {
        position: absolute;
        bottom: 0;
        font-size: 0.75vw;
        left: 1vw;
    }


/* Main Container */

#mainContainer {
    width: 60vw;
    height: 100vh;
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkred;
}

    /* Main Content Holder */

    #mainContentHolder {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

#backToTop:hover {
    color: #8C8C8C;
    cursor: pointer;
}


/* Right Container */

#rightContainer {
    width: 5vw;
    height: 100vh;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: width 0.25s;
    background-color: darkgray;
}

#menuBTN {
    width: 4vw;
    height: 4vw;
    margin: 0.5vw;
    cursor: pointer;
    background-color: #262626;
}

    /* Menu Options */

    #menuOptionsHolder {
        display: flex;
        flex-direction: column;
        text-align: right;
        margin-right: 0.5vw;
    }

    .menuOption {
        margin: 0;
    }

    .menuSub {
        text-align: left;
        font-weight: 600;
        margin: 0;
        margin-top: 0.5vw;
        margin-bottom: 0.25vw;
    }