/* Fonts */

    /* Poppins */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

    /* Playfair Display */
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');


/* Colours */

    /* Dark Mode */
        /* Background: #262626 */
        /* Text: #D9D9D9 */

    /* Light Mode */
        /* Background: #D9D9D9 */
        /* Text: #262626 */

    .bg {
        background-color: #262626;
        transition: background-color 0.5s;
    }

    .text {
        color: #D9D9D9;
        transition: color 0.5s;
    }

    .bgInverted {
        background-color: #D9D9D9;
    }

    .textInverted {
        color: #262626;
    }


/* General rules */

    body {
        padding: 0;
        margin: 0;
        font-family: 'Poppins', sans-serif;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    * {
        box-sizing: border-box;
    }


/* Site Container */

#siteContainer {
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    z-index: 100;
    pointer-events: none;
}


/* Left Container Detail */

#leftContainer {
    width: 35vw;
    height: 100vh;
    padding: 0 2.5vw;
    /* background-color: blue; */
    pointer-events: all;
}

    #name {
        font-weight: 600;
        font-size: 1.5vw;
        margin-top: 1vw;
        margin-left: -1.5vw;
    }

        /* Detail Text */

            #detailTextHolder {
                width: 10vw;
                float: right;
            }

            .detailText {
                margin: 0;
                font-weight: 500;
                text-align: right;
                font-size: 1vw;
            }


        /* Module Detail */

            #moduleDetailHolder {
                position: absolute;
                top: 30vh;
                width: 30vw;
            }

            #moduleName {
                font-family: 'Playfair Display', serif;
                margin: 0;
                font-size: 4vw;
                max-width: 30vw;
            }

            #moduleDate {
                font-family: 'Playfair Display', serif;
                font-size: 1.5vw;
                margin: -1vw 0;
            }

            #moduleBrief {
                font-size: 1.1vw;
                max-height: 50vh;
                margin-top: 3vw;
                overflow: hidden;
            }

    #copyrightText {
        position: absolute;
        bottom: 0;
        font-size: 0.75vw;
        left: 1vw;
    }


/* Main Container */

#mainContainer {
    width: 60vw;
    height: 1000vh;
    padding: 0 5vw;
    position: absolute;
    left: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkred;
    z-index: 10;
}

    /* Main Content Holder */

    #mainContentHolder {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

#backToTop {
    opacity: 0;
}

#backToTop:hover {
    color: #8C8C8C;
    cursor: pointer;
}

#mouseIMG {
    max-width: 30vw;
    max-height: 30vh;
    position: absolute;
    margin-left: -35vw;
    pointer-events: none;
}

.listSub {
    margin: 1vw 0 0 0;
}

.listSub h1 {
    margin: 0;
    font-weight: 600;
    font-size: 2vw;
}

.listItem {
    cursor: pointer;
    margin: 0 1vw;
    padding-right: 2vw;
    width: fit-content;
}

.listText {
    pointer-events: none;
    margin: 0;
    font-weight: 300;
    font-size: 1.5vw;
}

/* Right Container */

#rightContainer {
    width: 5vw;
    height: 100vh;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: width 0.5s;
    background-color: #8C8C8C;
    pointer-events: all;
}

#menuBTN {
    width: 3vw;
    height: 3vw;
    margin: 1vw;
    cursor: pointer;
    background-color: #262626;
}

    /* Menu Options */

    #menuOptionsHolder {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        /* margin-right: 0.5vw; */
        position: absolute;
        right: 0;
        top: 5vw;
        width: 5vw;
        font-size: 1.3vw;
    }

    .menuTrans {
        padding-left: 10vw;
        transition: padding-left 0.3s;
    }

    .menuOption {
        margin: 0;
        margin-top: 0.5vw;
        margin-bottom: 0.25vw;
        cursor: pointer;
        transform: rotate(90deg);
    }


/* Loading Screen */

#loadingScreen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    color: #262626;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s;
}

#loadingText {
    font-family: 'Playfair Display', serif;
    font-size: 5vw;
}